
.item img{
    height: 300px;
    width: 350px;
}

.one{
    display: flex;
}

.two{
    display: flex;
}

.three{
    display: flex;
}


/* #piz{
    display: none;
} */



/* .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
} */
