.pizza {
    background-image: url("..//images/p6.jpeg");
    padding-bottom: 50%;
    background-position: center;
}
.welcome {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 30%;
    color: black;
    text-shadow: 2px 2px 5px burlywood;
    font-size: 25px;
}

.design,
label {
    background-color:teal;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}



